@import "./mixins";

%h1 {
  font-family: var(--font-inter), sans-serif;
  font-size: VW(115);
  font-style: normal;
  font-weight: bold;
  line-height: 80%;
  text-transform: uppercase;
  letter-spacing: -0.4vw;
}

.luxurios-font {
  font-family: var(--font-luxurios), sans-serif;
  font-size: VW(300);
  line-height: 70%;
  letter-spacing: -0.4vw;
  text-transform: initial;
}


%body-text {
  font-family: var(--font-inter), sans-serif;
  font-size: VW(20);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.06vw;
  text-transform: uppercase;
}

%link {
  @extend %body-text;
  font-weight: bold;
}

.bold {
  font-weight: 700;
}

.body {
  @extend %body-text;

  h1 {
    @extend %h1;
  }

  a {
    @extend %link;
  }
}
